<div class="p-10 mx-auto">
    <div class="flex flex-row">
      <!-- User List Section -->
      <div class="w-full md:w-1/3 p-2 flex flex-col">
  <div class="min-h-55 max-h-96 rtl-scroll flex-grow">
    <mat-nav-list>
      <ng-container *ngFor="let user of users; let last = last">
        <mat-list-item
          [class.selected]="selection.isSelected(user)"
          (click)="onUserSelect(user)">
          <div mat-line>{{ user.name }}</div>
        </mat-list-item>
        <mat-divider *ngIf="!last"></mat-divider>
      </ng-container>
    </mat-nav-list>
  </div>
</div>
      
  
      <!-- Chart Section -->
      <div class="w-[45vw] mx-auto">
        <div class="min-h-55 max-h-96 overflow-y-auto flex-grow">
          <p-chart type="bar" [data]="chartData" [options]="chartOptions"></p-chart>
        </div>
      </div>
    </div>
  </div>
  