<nav class="bg-gray-800 p-4 flex-none">
    <div class="container mx-auto flex justify-between items-center">
      <a routerLink="/" class="text-white text-lg font-bold">Health Tracker Application</a>
      <div class="flex space-x-4">
        <a routerLink="/" routerLinkActive="bg-gray-700" class="text-white hover:bg-gray-700 px-3 py-2 rounded">Home</a>
        <a routerLink="/users" routerLinkActive="bg-gray-700" class="text-white hover:bg-gray-700 px-3 py-2 rounded">Users</a>
        <a routerLink="/usersprogress" routerLinkActive="bg-gray-700" class="text-white hover:bg-gray-700 px-3 py-2 rounded"> Workout Progress</a>
      </div>
    </div>
  </nav>